{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "jest", "sonarjs", "import", "react", "react-hooks", "jsx-a11y"],
    "extends": [
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:jest/recommended",
        "plugin:sonarjs/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "prettier"
    ],
    "env": {
        "es6": true,
        "jest": true,
        "node": true,
        "browser": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {
        "react/prop-types": "off", // Disabled to prefer use of Typescript<Props>
        "import/no-unresolved": "off", // Handled by TS and it gets confused on @types packages.
        "import/namespace": "off",
        // Handles alpha and a separate section for React. Use even outside of React for copy pasta ease.
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "parent", "sibling", "index"],
                "newlines-between": "always",
                "pathGroups": [
                    {
                        "pattern": "react",
                        "group": "external",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["react"],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ],
        "import/no-mutable-exports": "error",
        // This choice was made because we use Next.JS, which is very opinionated in favor of this, so it cannot be avoided.
        "import/prefer-default-export": "warn",
        "import/no-anonymous-default-export": "error",
        "sonarjs/no-small-switch": "warn",
        "@typescript-eslint/explicit-function-return-type": [
            "warn",
            {
                "allowExpressions": true,
                "allowTypedFunctionExpressions": true,
                "allowHigherOrderFunctions": true,
                "allowDirectConstAssertionInArrowFunctions": true,
                "allowConciseArrowFunctionExpressionsStartingWithVoid": true
            }
        ]
    },
    "overrides": [
        {
            "files": ["*.js", "*.jsx"],
            "rules": {
                "import/no-unresolved": "error",
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/explicit-module-boundary-types": "off",
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}